

.home-left-panel {
    &__para-btn {
        max-width: em(592);
        margin-left: em(168);
        @media #{$ipadpro} {
            margin-left: 3.5em;
        }
        &--inner {
            margin-left: 0;
            @media #{$tab} {
                margin-bottom: 3em;
            }
        }
    }
    &__counter {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        margin: 0 em(-12);
        margin-bottom: em(40);
        @media #{$mob} {
            margin-bottom: 1em;
        }
        li {
            flex: 0 1 25%;
            width: 25%;
            padding: 0 em(12);
            text-align: center;
            position: relative;
            @media #{$ipad} {
                flex: 0 1 50%;
                width: 50%;
            }
            
            &:first-child::before,
            &:last-child::before {
                content: "+";
                position: absolute;
                font-size: em(50);
                right: -0.3em;
                font-weight: 700;
                color: $blue-color;
                font-family: var(--el-messeri);
                @media #{$ipadpro} {
                    right: -0.8em;
                }
                @media #{$ipad} {
                    right: 0;
                }

                @media #{$mob} {
                    right: -0.2em;
                }

            }
            &:last-child::before {
                right: 0.38em;
                @media #{$ipadpro} {
                    right: 0.2em;
                }
                @media #{$ipad} {
                    right: 0.9em;
                }
                @media #{$mob} {
                    right: 0.6em;
                }

            }
            @media #{$ipad} {
                margin-bottom: 2em;
            }    
        }
        &__value {
            font-size: em(50);
            font-weight: 700;
            color: var(--blue-color);
            margin-bottom: 0.16em;
            font-family: var(--el-messeri);
            display: inline-block;
        }

        &__title {
            font-family: var(--basefont);
        }
    }
}