
// Set Colors
$primary-color:    #5A5A5A;
$black-color:      #000000;
$white-color:      #ffffff;
$grey-color:       #5A5A5A;
$grey-color-light:       #ccceef;
$blue-color:       #2E3191;
$yellow-color:     #FFCA1D;
$purple-color:     #7670B3;
$green-color:      #92C446;
$red-color:        #931E5A;
$red-color-light:        #f1c7dc;

$transition-ease: all 0.3s ease-in-out;




// Media Sizes
$desktop: '(max-width:1680px)'; 
$ipadproL: '(max-width:1399px)'; // Ipad Pro Landscape
$ipadpro: '(max-width:1199px)'; // Ipad pro
$ipad: '(max-width:991px)'; // Ipad
$tab: '(max-width:767px)'; // Tablet
$mob: '(max-width:575px)'; // Base Mobile
$smallmob: '(max-width:375px)'; // Small Mobile


