.flex-reverse {
    .stroke-figure {
        .twocol-row {
            flex-direction: row-reverse;
        }

        .stroke-figure__panel {
            left: 3.5em;
            right: unset;
            top: 50%;
            bottom: unset;
            transform: translateY(-50%);

            @media #{$tab} {
                left: auto;
                top: auto;
                transform: none;
            }


            &__stroke {
                left: 100%;
                right: unset;
            }
        }
    }
}

.food-safety {
    .stroke-figure {
        &__panel {
            top: 50%;
            bottom: unset;
            transform: translateY(-50%);
            right: 10em;

            @media #{$tab} {
                right: auto;
                top: auto;
                transform: none;
            }

            &__stroke {
                left: 100%;
                right: unset;
            }
        }
    }
}

.stroke-figure__main {
    &.food-safety {
        .stroke-figure {
            margin-bottom: 0;
        }
    }
}

.custom-flex {
    .stroke-figure {
        &:first-child {
            margin-bottom: 15em;

            @media #{$tab} {
                margin: 0;
            }
        }

        &:nth-child(odd) {
            .twocol-row {
                flex-direction: row-reverse;
            }

            .stroke-figure__panel {
                right: unset;
                left: 3.5em;

                @media #{$tab} {
                    right: auto;
                    left: auto;
                }
            }
        }
    }
}


.food-safety-details {
    padding: 3em 0 0;

    .bottom-area {
        padding: 6.25em 0 2.8125em;
    }
}

.dishes-table {
    padding: 3.125em 0 5em;

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: -1em;
        margin-right: -1em;

        li {
            width: 20%;
            padding: 1em;

            @media #{$tab} {
                width: 50%;
            }

            img {
                width: 100%;
            }
        }
    }
}