.flex-reverse .stroke-figure .twocol-row {
  flex-direction: row-reverse;
}

.flex-reverse .stroke-figure .stroke-figure__panel {
  left: 3.5em;
  right: unset;
  top: 50%;
  bottom: unset;
  transform: translateY(-50%);
}

.flex-reverse .stroke-figure .stroke-figure__panel__stroke {
  left: 100%;
  right: unset;
}

.food-safety .stroke-figure__panel {
  top: 50%;
  bottom: unset;
  transform: translateY(-50%);
  right: 10em;
}

.food-safety .stroke-figure__panel__stroke {
  left: 100%;
  right: unset;
}

.stroke-figure__main.food-safety .stroke-figure {
  margin-bottom: 0;
}

.custom-flex .stroke-figure:first-child {
  margin-bottom: 15em;
}

.custom-flex .stroke-figure:nth-child(odd) .twocol-row {
  flex-direction: row-reverse;
}

.custom-flex .stroke-figure:nth-child(odd) .stroke-figure__panel {
  right: unset;
  left: 3.5em;
}
