.news-listing .main-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 0 2em;
}

.news-listing .main-wrapper .left-wrapper ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.news-listing .main-wrapper .left-wrapper ul li {
  display: flex;
  margin: 0 2em 0 0;
  flex-flow: wrap;
}

.news-listing .main-wrapper .left-wrapper ul li span {
  margin: 0 0 0 0.75em;
}

.news-listing .main-wrapper .right-wrapper .cta__social__icons {
  align-items: center;
}

.news-listing .main-wrapper .right-wrapper .cta__social__icons p {
  margin: 0;
}

.news-listing .img-wrapper img {
  width: 100%;
}

.news-listing .bottom-area {
  padding: 4.375em 0 2.8125em 0;
}

.news-listing .bottom-area p {
  font-size: 1em;
}
